<link rel="stylesheet" href="/css/home.css">

<section id="all_sec">
    <section id="sec1">
        kjkjfd
    </section>
    <section id="sec2">
            ksdfjfsk
    </section>
    <section id="sec3">
        dhsfgj
    </section>
</section>