<h1 style="text-align: center;">Sign In!</h1>

<form action="/users/createSession" method="POST" style="text-align: center;">
    EMAIL:<input type="email" name="email" placeholder="Enter Email"><br><br>
    PASSWORD:<input type="password" name="password" placeholder="Enter Password"><br><br>
    <input type="submit" value="Sign In!">
</form>

