<h1 style="text-align: center;">Sign Up!</h1>

<form action="/users/create" method="POST" style="text-align: center;">
    NAME:<input type="text" name="name" placeholder="Enter NAme" required><br><br>
    EMAIL:<input type="email" name="email" placeholder="Enter Email" required><br><br>
    PASSWORD:<input type="password" name="password" placeholder="Enter Password" required><br><br>
    CONFIRM PASSWORD:<input type="password" name="confirm_password" placeholder="Confirm Password" required><br><br>
    <input type="submit" value="Sign Up!">
</form>

