header{
    height:40px;
    width: 100%;
    background-color: rgb(181, 36, 36);
}

#main > #heading > a{
    position: absolute;
    margin-left:20px;
    margin-top:6px;
    text-decoration: none;
    color: white;
    font-family:monospace;
}
