#all_sec{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right:20px;   
}

#sec1{
    width:33.3%;
}
#sec2{
    width:33.33%;
    text-align: center;
}
#sec3{
    width:33.3%;
}
